
    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
        <div class="container">
          <header class="section-header">
            <h3>Why choose us?</h3>
            <p>We take democracy seriously. Find out why our clients consistently rely on us for their election needs.</p>
          </header>
  
          <div class="row row-eq-height justify-content-center">
  
            <div class="col-lg-4 mb-4">
              <div class="card wow bounceInUp">
                  
                <div class="card-body">
                    <img src="../../assets/secure-and-reliable.png" class="scale-with-grid" alt="Secure and Reliable" width="100px" height="65px">
                  <h5 class="card-title">Secure and Reliable</h5>
                  <p class="card-text">Third Party Audits & Certifications
                    Voter-Verified Results
                    100% Availability Guarantee</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4">
              <div class="card wow bounceInUp">
                  
                <div class="card-body">
                    <img src="../../assets/flexible-and-simple-to-use.png" class="scale-with-grid" alt="Flexible and Simple to Use"width="100px" height="60px" >
                  <h5 class="card-title">Flexible & Simple to Use</h5>
                  <p class="card-text">24 x 7 x 365 Support 
                      Simple and Accessible Voter Experience 
                      Internet, Phone, and Paper Ballots</p>
            
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4">
              <div class="card wow bounceInUp">
          
                <div class="card-body">
                    <img src="../../assets/industry-specific-expertise.png" class="scale-with-grid" alt="Industry-Specific Expertise" width="100px" height="60px">
                  <h5 class="card-title">Industry-Specific Expertise</h5>
                  <p class="card-text">Self Administered or Fully Managed Elections
                      Professional Electoral Services
                      Custom Voting Technology </p>
                
                </div>
              </div>
            </div>
  
          </div>
  
          <div class="row counters">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">274</span>
              <p>Clients</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">421</span>
              <p>Projects</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">1,364</span>
              <p>Hours Of Support</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">18</span>
              <p>Hard Workers</p>
            </div>
    
          </div>
  
        </div>
      </section>
  