    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3 > Our Service Industries</h3>
            <p>It works great for Charities, Non Profitable Organizations, Condo Owners, Credit Unions, Companies, Associations, Home Owner Associations, Unions, Student Groups, Fraternities,High Schools, Colleges, Universities, Unions, Municipalities, State Government, Political Groups</p>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box"><img src="../../assets/union.jpg" width="360px" height="150px" >
                <div class="icon"><i class="" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="">Associations & Unions</a></h4>
                <p class="description"></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box"><img src="../../assets/corporate.jpg" width="360px" height="150px" >
                <div class="icon"><i class="" style="color: #e9bf06;"></i></div>
                <h4 class="title"><a href="">Corporate & Industry</a></h4>
                <p class="description"></p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box"><img src="../../assets/institution.jpg" width="360px" height="150px" >
                <div class="icon"><i class="" style="color: #3fcdc7;"></i></div>
                <h4 class="title"><a href="">Trust & Educational Institutions</a></h4>
                <p class="description"></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box"><img src="../../assets/homeowner.jpg" width="360px" height="150px" >
                <div class="icon"><i class="" style="color:#41cf2e;"></i></div>
                <h4 class="title"><a href="">Homeowners Associations</a></h4>
                <p class="description"></p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box"><img src="../../assets/political-party-elections.jpg" width="360px" height="150px" >
                <div class="icon"><i class="" style="color: #d6ff22;"></i></div>
                <h4 class="title"><a href="">Political Parties</a></h4>
                <p class="description"></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box"><img src="../../assets/other-elections.jpg" width="360px" height="150px" >
                <div class="icon"><i class="" style="color: #4680ff;"></i></div>
                <h4 class="title"><a href="">Many Others</a></h4>
                <p class="description"></p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->
