  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a  class="scrollto" href="./home"><img src="../../assets/large.png" alt="" class="img-fluid" width="40px" height="40px"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          
          <li> <a [routerLink]="['/about']">about</a></li>
          <li> <a [routerLink]="['./services']">Services</a></li>
          <li> <a [routerLink]="['./why-us']">why-us</a></li>
          <li> <a [routerLink]="['./team']">Team</a></li>
          <li > <a [routerLink]="['./clients']">clients</a></li>

          <li> <a [routerLink]="['./contactus']">Contactus</a></li>
          <li> <a [routerLink]="['./login']">login</a></li>
          <li> <a [routerLink]="['./signup']">signup</a></li>
         
          
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

