    <!--==========================
      About Us Section
    ============================-->
    <section id="what" class="home-band blue what-can-do">
     
             <pre> <h2>                                        What You Can Do With Us                       </h2></pre>
            <div class="row points">
              <div class="point">
                <div class="point-img white">
                  <img src="../../assets/elect.png" class="lean-left" alt="Elect Representatives" width="90px"  height="90px">
                </div>
                <h3>Elect Representatives</h3>
                <p>Elect your organization's steering committee, employee representatives, student body leaders, condominum board members, etc. using the voting method of your choice.</p>
              </div>
              <div class="point">
                <div class="point-img white">
                  <img src="../../assets/embrace.png" class="wide-img" alt="Embrace Candidates" width="90px" height="90px">
                </div>
                <h3>Embrace Candidates</h3>
                <p>Maximize your chances of seeing grassroots action by having your political party's members surface the candidates they're most willing to back.</p>
              </div>
              <div class="point">
                <div class="point-img white">
                  <img src="../../assets/streamline.png" class="wide-img" alt="Streamline Decisions" width="90px" height="90px">
                </div>
                <h3>Streamline Decisions</h3>
                <p>Streamline your formal board or committee meetings. Use them to officially record what has already been pre-discussed and voted on ahead of time by email.</p>
              </div>
              <div class="point">
                <div class="point-img white">
                  <img src="../../assets/strike.png" class="medium-img lean-left" alt="Assess Industrial Action" width="90px" height="90px">
                </div>
                <h3>Assess Industrial Action</h3>
                <p>Discreetly and inexpensively check if your union's members would like to strike before holding a formal assembly or sending an expensive 'legal' postal ballot.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
               
            </div>
          </div>
</section>
           
         
           <!-- #about -->
