
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="../../assets/Image_405.png" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We provide<br><span>online voting</span><br>for you</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto" href="../login">Vote Now</a>
          <a href="#services" class="btn-services scrollto" href="../services">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">
